javax.persistence.jdbc.url=jdbc:postgresql://rfc3161serialnumberprovider/jdbctest
javax.persistence.jdbc.user=jdbctestuser
influx.uri=http://192.168.10.2:8086
de.elbosso.tools.rfc3161timestampingserver.App.includeFullChain=true
de.elbosso.tools.rfc3161timestampingserver.App.includeCRLs=true
